@model Dish

@{
    ViewData["Title"] = Model.Name;
    var imageName = Model.Name.ToLower().Replace(" ", "") + ".jpg";
}

<link rel="stylesheet" href="~/css/dish-details.css" asp-append-version="true" />

<div class="dish-details-container">
    <div class="image-side">
        <img src="~/images/@imageName" alt="@Model.Name" />
    </div>

    <div class="info-side">
        <h1>@Model.Name</h1>
        <div class="meta">
            <span>@Model.Type</span>
            <span>@Model.PreparationTimeMinutes хв</span>
        </div>

        <h3>Рецепт:</h3>
        <p>@Model.Recipe</p>

        <h3>Інгредієнти</h3>
        <ul>
            @foreach (var di in Model.DishIngredients)
            {
                <li>@di.Ingredient.Name @((di.Quantity > 0) ? $"({di.Quantity})" : "")</li>
            }
        </ul>
    </div>
</div>
