@model DishIngredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DishIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CntIngredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CntIngredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
